body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-height: 100vh;
}
